main{
    background-color: #F4B2FF;
    height: 379px;
    width: 551px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    justify-content: center;
    padding: 120px;
    border: 2px solid #8615bb2d;
    border-radius: 35px;
    box-shadow: 5px 2px 6px 5px rgba(159, 34, 190, 0.271);
  }