main {
    background-color: #F4B2FF;
    height: 379px;
    width: 551px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    justify-content: center;
    padding: 120px;
    border: 2px solid #8615bb2d;
    border-radius: 35px;
    box-shadow: 5px 2px 6px 5px rgba(159, 34, 190, 0.271);
}

.quote-box { /* tudo bem*/
    background-color: #f7c3dcc1;
    height: 300px;
    width: 500px;
    border: 2px solid #8615bb0f;
    border-radius: 18px 13px;
    box-shadow: 8px 3px 7px 3px rgba(29, 156, 137, 0.077);
    margin-top: -45px;
    margin-left:24px;
}
.go-back-bttn{
    background-color: #63c69687;
    height:68px;
    width:178px;
    border: 2px solid #8615bb2d;
    border-radius: 25px 15px;
    display: block;
    margin-left: auto;
    margin-right: 85px;
    margin-top: -23px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-decoration:none;
}

.recommendations-bttn{
    background-color: #63c69687;
    height:68px;
    width:178px;
    border: 2px solid #8615bb2d;
    border-radius: 15px 25px;
    display: block;
    margin-left: auto;
    margin-right: 295px;
    margin-top: -71px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: medium;
    text-decoration:none;
}
.go-back-p{
    margin-left: 50px;
    font-size: medium;
    margin-top: 23px;
}
.recommendations{
    margin-top: 23px;
    margin-left: 3px;
    font-size: medium;
}
.thebox{
    background-color:  #f7c3dc00;
    margin:auto;
    margin-top: -15px;
    margin-right: 350px;
    display:grid;
    justify-content: center;
    width: 70%;
    padding: 10px;
}
.quotes{
    background-color: #f7c3dc00;
    margin:auto;
    display: flex;
    justify-content: center;
    font-size: 20px;
    white-space: 10px;
    color: #6e1e679b;
    width:70%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.h3{
    margin:auto;
    display: block;
    justify-content: center;
    color:#6e1e679b;
    padding-top: 14px;
}
.h6{
    margin:auto;
    margin-top: 20px;
    display: block;
    justify-content: center;
    color:#6e1e679b;
    font-size: medium;
}
.quote-name{
    text-align: center;
}
.spotify-bttn{
    background-color: #eb96d288;
    height:58px;
    width:158px;
    border: 2px solid #8615bb2d;
    border-radius: 10px 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration:none;
}

.spotify-bttn:hover{
    background-color: #fbafe5b0;
    height:60px;
    width:165px;
    box-shadow: 2px 2px 3px 2px rgba(0, 0, 0, 0.243);
}
.spotify{
    margin-top: 12%;
    margin-left: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    text-decoration:none;
    color:#6e1e679b;
    text-align: center;
}